.container {
    padding-bottom: 20px;
}

.navbar {
    background-color: white;
}

.navbar img {
    max-width: 120px;
}

.btn {
    background-color: white;
    border-color: white;
    color: rgba(0, 0, 0, .5);
    Cursor: pointer;
    box-shadow: white;
    padding-top: 7px;
}

.prod {
    text-decoration: none;
}

.btn.focus,
.btn:focus {
    outline: none;
    box-shadow: none;
}

<!--carousel-->.carousel-item {
    padding: 0px 40px;
}

.maximum {
    max-width: 350px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bton {
    text-decoration: none;
    color: whitesmoke;
    background-color: black;
    border-radius: 5px;
    padding: 5px 20px;
}

.emni {
    text-decoration: none;
}

.carousel-indicators .car {
    background-image: linear-gradient(45deg, tomato, orange);
    border: 1px;
    padding: 3px 2px;
    border-radius: 1cm;
}

.next {
    text-decoration: none;
    color: tomato;
    Cursor: pointer;
}

a:hover {
    color: wheat;
    text-decoration: none;
}

.card {
    text-align: center;
    border: none;
    box-shadow: 2px 2px 10px aqua;
    margin-top: 20px;
}

.card img {
    max-width: 250px;
    display: flex;
    margin: auto;
    padding-top: 30px;
}

.card-footer {
    background-color: white;
    border-top: none;
}